# ==============================================================================
# General
# ==============================================================================

.DS_Store
.idea
*.log
tmp/

# ==============================================================================
# IDE
# ==============================================================================
.vscode

# ==============================================================================
# Python
# ==============================================================================

__pycache__/
*.py[cod]
*.egg
build
htmlcov

# ==============================================================================
# R
# ==============================================================================

# Bookdown
.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect

# ==============================================================================
# DotEnv
# ==============================================================================

.env

# ==============================================================================
# Jupyter NB Checkpoints
# ==============================================================================

.ipynb_checkpoints/

# ==============================================================================
# Data
# ==============================================================================

/data
.Rproj.user
/code/data/*
/code/notebooks/data/*